body{
  background-color: aqua;
color: black;
  font-family: fantasy;
  text-align: center;
}

li {
  float: left;
}
li a {
  list-style-type: none;
  margin: 0;
    display: block;
    color: green;
     width: 200px;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    background-color: aqua;
float: left;
  overflow: hidden;
}

li a:hover {
    background-color:#75aaff ;
    color: green ;
    text-align: center;

}

.An {
  text-align: center;
  position: absolute;
  
}

h1 {
  text-align: center;
 
}
.l{
  list-style-type: none;
  
  
}
